button,
a[role="button"] {
  appearance: none;
  border: none;
  text-decoration: none;
  background: none;
  padding: $space-s $space-s;
  border: 2px solid;
  border-radius: $space-xs;
  cursor: pointer;
  font-size: $font-size-s;

  &:focus {
    @include decoration-outline;
  }
}
