@mixin decoration-outline {
  outline: $space-xs solid rgba($colour-highlight, .75);
}

@mixin decoration-underline {
  text-decoration: none;
  border-bottom: 1px solid;
}

@mixin decoration-theme($colour-bg, $colour-fg) {
  background-color: $colour-bg;
  color: $colour-fg;

  @media #{$media-med} {

    background-image: linear-gradient(160deg, $colour-bg 0%, $colour-bg 80%, rgba($colour-highlight, .5) 100%);
    background-size: 100% 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;

    &.home {
      background-image: linear-gradient(160deg, $colour-bg 0%, $colour-bg 60%, $colour-fg 100%);
    }

  }

  h1 {
    a {
      color: $colour-highlight;
      text-decoration: none;
    }
  }

  &.home h1 {
    a {
      color: $colour-fg;
    }
  }

  main a,
  footer a {
    color: $colour-fg;
    &:hover,
    &:active {
      background-color: rgba($colour-highlight, .25);
    }
  }

  button,
  a[role='button'] {
    transition-property: background-color, color;
    transition-duration: $timing-instant;

    &:hover,
    &:focus {
      background-color: rgba($colour-fg, .75);
      border-color: $colour-fg;
      color: $colour-bg;
    }
  }

}

@mixin decoration-triangle($colour, $dimensions) {
  &::before {
    z-index: -1;
    content: '';
    display: block;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-color: transparent $colour transparent transparent;
    border-width: #{$dimensions};
    @content;
  }
}
