main a,
footer a {
  @include decoration-underline;
}

a:focus {
  @include decoration-outline;
}

.link__back {
  &:before {
    content: "❮";
    display: inline-block;
    margin-right: $space-m;
    font-size: $font-size-s;
  }
}
