.nav__main--toggle {
  position: absolute;
  top: $space-l;
  right: $space-l;
  @media #{$media-med} {
    display: none;
  }
}

.nav__main {

  ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: $space-l 0;

    @media #{$media-med} {
      max-width: 70%;
    }
  }

  li {
    width: 50%;
    margin: $space-xs 0;
    font-family: $font-heading;
    font-weight: bold;
  }
}

.nav__pagination {
  padding: $space-l 0;
}
