/* Site skin v1.0 */
/* 2nd May, 2012  */
/* Petra Gulicher */

h1, h2, h3, h4 { font-family: Oxygen; }

h1 { font-size: 32px; font-size: 3.2rem; margin-bottom: 12px;}
h2 { font-size: 28px; font-size: 2.8rem; margin-bottom: 9px; }
h3 { font-size: 24px; font-size: 2.4rem; margin-bottom: 9px; }
h4 { font-size: 12px; font-size: 1.2rem; margin-bottom: 3px; }
body {
	background: #cac6c5 url(../images/bg.jpg) repeat fixed 0 0;
	border-top: 4px solid rgba(200, 54, 54, 1);
	padding-bottom: 3em;
}

hr { border: solid #888; border-width: 1px 0 0; clear: both; margin: 12px 0 18px; height: 0; }

.header {
	padding: 1% 0 5% 0;
}
.circle {
	background: rgba(200, 54, 54, 0.5);
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
    margin: 0px auto;
	position: relative;
	width: 10%;
}
.circle:nth-child(2) { background: rgba(54, 200, 130, 0.5); top: -50%; left: 3%;}
.circle:nth-child(3) { background: rgba(200, 200, 54, 0.5); top: -150%; right: 3%;}
.panel img {
	margin: -20px 0 10px -20px;
	max-width: 200%;
}
.intro { padding: 4em 0em 3em 0em; }
a, a:link { border-bottom: 1px dashed #c83636; color: #c83636; text-decoration:none; }
a:hover { border-bottom: 1px solid #ff7d70; color: #ff7d70; text-decoration:none; }
a:focus { border-bottom: 1px solid #ff7d70; color: #ff7d70; text-decoration:none; }


.samples img {
	-moz-box-shadow: 0px 5px 5px rgba(100,100,100,0.3);
	-webkit-box-shadow: 0px 5px 5px rgba(100,100,100,0.3);
	box-shadow: 0px 5px 5px rgba(100,100,100,0.3);
}
.samples .panel {
	-moz-box-shadow: 5px 5px 10px rgba(100,100,100,0.3);
	-webkit-box-shadow: 5px 5px 10px rgba(100,100,100,0.3);
	box-shadow: 5px 5px 10px rgba(100,100,100,0.3);
	-webkit-transition: all .2s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
}
.samples .panel:hover {
	-moz-box-shadow: 0px 0px 5px rgba(100,100,100,0.3);
	-webkit-box-shadow: 0px 0px 5px rgba(100,100,100,0.3);
	box-shadow: 0px 0px 5px rgba(100,100,100,0.3);
}
.sidebar ul {
padding: 0.2em 0 0 0;
}
.sidebar ul li:before {
    content: "\21A3 \0020";
    color: #c83636;
    font-size:1.4em;
    font-weight: bold;
    }