body {
	background: transparent url(../img/bg.jpg) left top no-repeat;
	background-size: cover;
    padding-top: 0;
}

.container-narrow {
    background: #fff url(../img/texture.png) left top repeat;
	background: rgba(255,255,255,0.95) url(../img/texture.png) left top repeat;
	padding: 2em 15%;
}

h1 {
    font-family: 'Ubuntu', Georgia, Times, serif;
    font-size: 56px;
    line-height: 80px;
    text-shadow: 1px 1px 1px #ccc;
}
 
p {
    font-family: 'Vollkorn', Georgia, Times, serif;
    font-size: 16px;
    line-height: 25px;
}

.btn-orange {
    background-color: #f95108;
    background-image: linear-gradient(to bottom, #d53000, #f95108);
}
.btn-orange:hover {
    background-color: #f95108;
}